<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>method</key>
    <string>development</string>

    <key>teamID</key>
    <string>6S6M3G3G6W</string>

    <key>provisioningProfiles</key>
    <dict>
        <key>com.capstone.reelitin</key>
        <string>85a4fe99-5940-4d8c-a0a6-cc1cbbe90f70</string>
    </dict>

    <key>compileBitcode</key>
    <false/>
</dict>
</plist>

